@charset "UTF-8";

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

:root {
	background-color:white;
  --main-color: #B4E4FF;   
  --accent-color: #DCAAEB; 
  --main-color-smooth : #B1D8FF;
  --accent-color-smooth: #C7BCFA;
   --red-color: #FFB4B4;
    --yellow-color: #FFF1B4;
    --green-color: #B4EBC1;
	 --navy-color: #9BB4FF;     
	  --gray-color: #D1D1D1; 
	  --peach-color: #FFD1B4;
	  
	  
 --color1: #efb2fb;
  --color2: #acc6f8;
}


.btn-blue-main {
  background-color: var(--main-color) !important;
  border-color: #767676 !important;
 
}

.btn-outline-blue-main {
  background-color: white !important;
  border-color: var(--main-color) !important;
 
}


.btn-purple-main {
	color: white !important;
	 background-color: var(--accent-color) !important;
  border-color: #767676 !important;
}

.btn-purple-main-black {
	 background-color: var(--accent-color) !important;
  border-color: #767676 !important;
}

.btn-outline-purple-main {
  background-color: white !important;
  border-color: var(--accent-color) !important;
 
}

.btn-blue-smooth-main {
  background-color: var(--main-color-smooth) !important;
  border-color: #767676 !important;
 
}


.btn-red-main {
    color: black;
    background-color: var(--red-color) !important;
    border-color: #767676 !important;
}

.btn-outline-red-main {
    background-color: white !important;
    border-color: var(--red-color) !important;
}

/* 노랑 버튼 */
.btn-yellow-main {
    color: black !important;
    background-color: var(--yellow-color) !important;
    border-color: #767676 !important;
}



.btn-outline-yellow-main {
    background-color: white !important;
    border-color: var(--yellow-color) !important;
}

/* 초록 버튼 */
.btn-green-main {
    color: black;
    background-color: var(--green-color) !important;
    border-color: #767676 !important;
}

.btn-outline-green-main {
    background-color: white !important;
    border-color: var(--green-color) !important;

}

.btn-peach-main {
    color: black;
    background-color: var(--peach-color) !important;
    border-color: #767676 !important;
}

.btn-outline-peach-main {
    background-color: white !important;
    border-color: var(--peach-color) !important;
}

/* 남색 */
.btn-navy-main {
    color: white !important;
    background-color: var(--navy-color) !important;
    border-color: #767676 !important;
}

.btn-outline-navy-main {
    background-color: white !important;
    border-color: var(--navy-color) !important;
}

/* 회색 */
.btn-gray-main {
   color: white !important;
    background-color: var(--gray-color) !important;
    border-color: #767676 !important;
}

.btn-outline-gray-main {
    background-color: white !important;
    border-color: var(--gray-color) !important;
}


.btn-gradient {
    color: white !important; /* 글씨 색상 */
   border-color: var(--gray-color) !important;
   background-size: 150% auto;
    background-image: linear-gradient(to right, var(--color1), var(--color2));
    transition: 0.5s;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5)
}


.btn-blue-purple {
    background-image: linear-gradient(to right, var(--main-color) 0%, var(--accent-color) 100%);
}

.btn-red-blue {
    background-image: linear-gradient(to right, var(--red-color) 0%, var(--main-color)  100%);
}



.btn-green-peach {
    background-image: linear-gradient(to right, var(--green-color) 0%, var(--peach-color) 100%);
}

/* 빨강 + 복숭아 */
.btn-red-peach {
    background-image: linear-gradient(to right, var(--red-color), var(--peach-color));
}

/* 노랑 + 초록 */
.btn-yellow-green {

    background-image: linear-gradient(to right, var(--yellow-color), var(--green-color));
}

/* 남색 + 파랑 */
.btn-navy-blue {
    background-image: linear-gradient(to right, var(--navy-color), var(--main-color));
}

/* 회색 + 보라 */
.btn-gray-purple {
    background-image: linear-gradient(to right, var(--gray-color), var(--accent-color));
}

.btn-gradient:hover {
  background-position: right center !important; /* change the direction of the change here */
}



.navbar {
	
  padding-top: 1rem;   /* 위쪽 여백 */
  padding-bottom: 1rem; /* 아래쪽 여백 */
}

/*
header는 fixed 되어 맨위 고정이기 때문에 그만큼 여백
*/

body{
  padding-top: 70px; 
}

.blur-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 */
}

.blur-bg-login {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.7);
}

/* 텍스트 컬러 커스텀 클래스 */
.text-blue { color: var(--main-color) !important; }
.text-purple { color: var(--accent-color) !important; }
.text-blue-smooth { color: var(--main-color-smooth) !important; }
.text-purple-smooth { color: var(--accent-color-smooth) !important; }
.text-red { color: var(--red-color) !important; }
.text-yellow { color: var(--yellow-color) !important; }
.text-green { color: var(--green-color) !important; }
.text-navy { color: var(--navy-color) !important; }
.text-gray { color: var(--gray-color) !important; }
.text-peach { color: var(--peach-color) !important; }


.site-footer {
  background-color: white; /* footer 배경색 지정 */
  color: black; /* 글씨 색상 */
  padding: 20px;
}

.card-header-main {
  background-color: var(--main-color);
  color: #000;
}

.card-header-accent {
  background-color: var(--accent-color);
  color: #fff;
}

.card-header-smooth-main {
  background-color: var(--main-color-smooth);
  color: #000;
}

.card-header-smooth-accent {
  background-color: var(--accent-color-smooth);
  color: #fff;
}

.card-header-red {
  background-color: var(--red-color);
  color: #000;
}

.card-header-yellow {
  background-color: var(--yellow-color);
  color: #000;
}

.card-header-green {
  background-color: var(--green-color);
  color: #000;
}

.card-header-navy {
  background-color: var(--navy-color);
  color: #fff;
}

.card-header-gray {
  background-color: var(--gray-color);
  color: #000;
}

.card-header-peach {
  background-color: var(--peach-color);
  color: #000;
}


.main-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-main-waves {
  background-image: url('/asset/img/layered-waves.png');
}

.bg-main-stacked {
  background-image: url('/asset/img/stacked-peaks.png');
	
}


  .image-box {
   filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .image-box2 {
 
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  

.welcome-box .line {
	line-height: 1.2;
  display: block;
  opacity: 0;
  transform: translateY(10px);
}


.welcome-box h1 {
  line-height: 1.2;
}

.welcome-box h5 {
  line-height: 1.1;
}

.welcome-box2 .line {
	line-height: 1.2;
  display: block;
  opacity: 0;
  transform: translateY(10px);
}


.welcome-box2 h1 {
  line-height: 1.2;
}

.welcome-box2 h5 {
  line-height: 1.1;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  justify-items: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden; /* 오버레이가 이미지 밖으로 안나가게 */
}

.image-wrapper img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  
  box-shadow:
    -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/asset/img/hhholographic.png");
  background-size: 200% 200%; /* 확대해서 무늬가 흘러가게 */
  background-repeat: no-repeat;
  background-position: 0% 0%;
  mix-blend-mode: screen;
  opacity: 0.15;
  animation: holoShift 8s linear infinite;
  pointer-events: none;
}


@keyframes sparkle {
  0%, 100% { opacity: 0.0; }
  50%      { opacity: 0.7; }
}

@keyframes holoShift {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.image-grid img {
  filter: brightness(1) contrast(1);;
  opacity: 1;
}

.line {
  display: block;
  margin-bottom: 0.2rem;
}



.hero {
  position: relative;
  width: 100%;
}

.responsive-img {
  width: 100%;
  height: auto;
  display: block;
}

 .text-white-shadow {
  color: #fff; /* 하얀색 글씨 */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* 어두운 그림자 */
}

@font-face {
    font-family: 'Danjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GowoonDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YeogiOttaeJalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.font_YeogiOttae {
	
	 font-family: 'YeogiOttaeJalnanGothic';
}

.font_gowooDodum{
	 font-family: 'GowoonDodum';
}


.font-simple {
  font-family: 'Danjo', sans-serif;
}



.footer {
    width: 100%;
    background-color: #111;             /* 어두운 배경 */
    color: #ccc;                        /* 글자 색상 */
    font-family: 'Montserrat', sans-serif;
    /* border-top: 1px solid orangered;    위쪽 경계선 */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;          /* 글자를 아래쪽으로 정렬 */
    align-items: center;            /* 왼쪽 정렬 */
    padding: 10px 20px;                 /* 위/아래 여백 조절, 글자와 경계선 간격 */
}

.footer p {
    margin: 2px 0;                      /* 문단 간 간격 최소화 */
    font-size: 12px;
}


.btn.gameSelectBtn {
  font-family:'Danjo', sans-serif;
  background: black;
  border: 1px solid black;
  color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
  
}



/* 테두리 애니메이션 */
.btn.gameSelectBtn::before,
.btn.gameSelectBtn::after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow:
   -1px -1px 20px rgba(255,255,255,1),
   -4px -4px 5px rgba(255,255,255,1),
   7px 7px 20px rgba(0,0,0,.4),
   4px 4px 5px rgba(0,0,0,.3);
  transition: all 500ms ease;
}

.btn.gameSelectBtn::before {
  right: 0;
  top: 0;
}
.btn.gameSelectBtn::after {
  left: 0;
  bottom: 0;
}

.btn.gameSelectBtn:hover::before,
.btn.gameSelectBtn:hover::after {
  height: 100%;
}



/* 무지개 애니메이션 정의 */
@keyframes pastelRainbow {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Hover 시 파스텔 무지개 효과 */
.btn.gameSelectBtn:hover {
  color: #333;
  background: linear-gradient(270deg,
    var(--red-color),
    var(--yellow-color),
    var(--green-color),
    var(--navy-color),
    var(--main-color),
    var(--accent-color),
    var(--red-color));
  background-size: 400% 400%;
  animation: pastelRainbow 6s ease infinite;
  box-shadow: 0 0 20px rgba(180, 228, 255, 0.6);
}
